In [6]:
# Dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import session
from sqlalchemy import inspect
from sqlalchemy import create_engine, func
from getpass import getpass

In [7]:
pip install psycopg2

Collecting psycopg2Note: you may need to restart the kernel to use updated packages.
  Downloading psycopg2-2.9.5-cp37-cp37m-win_amd64.whl (1.2 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.5

In [8]:
import psycopg2

In [9]:
### Connect to database
# Store password
from getpass import getpass
password = getpass("enter database password")

enter database password········

In [10]:
# connect to database
engine = create_engine(f"postgresql://postgres:{password}@localhost:5432/COVID-project")

In [11]:
# Get the names of the tables 
inspector = inspect(engine)
inspector.get_table_names()

['lat_long',
 'latest_vax',
 'latest_deaths',
 'econ',
 'lat_long_econ',
 'lat_long_econ_deaths',
 'all_tables_merged']

In [12]:
# Get data from database and convert to dataframe
df = pd.read_sql_table('all_tables_merged', engine)
df

,fips,st,lat,lng,population,unemployment_rate_2021,median_household_income_2020,county,cases,deaths,vax_pct,cases_100000,deaths_100000
0,36005,NY,40.8500,-73.8661,1427056,13.6,44906.0,None,NaN,NaN,76.6,NaN,NaN
1,1001,AL,32.5349,-86.6427,55639,2.8,67565.0,Autauga,18233.0,226.0,45.1,32770.200,406.1900
2,1003,AL,30.7276,-87.7226,218289,3.0,71135.0,Baldwin,65088.0,702.0,52.2,29817.400,321.5920
3,1005,AL,31.8696,-85.3932,25026,5.7,38866.0,Barbour,6826.0,101.0,46.7,27275.600,403.5800
4,1007,AL,32.9986,-87.1265,22374,3.5,50907.0,Bibb,7450.0,107.0,35.8,33297.600,478.2340
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3138,56039,WY,43.9347,-110.5900,23356,3.2,92488.0,Teton,11583.0,16.0,94.2,49593.300,68.5049
3139,56041,WY,41.2876,-110.5480,20374,5.0,71246.0,Uinta,6102.0,41.0,52.7,29949.900,201.2370
3140,56043,WY,43.9050,-107.6830,7933,4.0,58532.0,Washakie,2642.0,47.0,44.8,33303.900,592.4620
3141,56045,WY,43.8405,-104.5680,6942,3.2,58901.0,Weston,1812.0,21.0,38.6,26102.000,302.5060
3142,15005,HI,21.1709,-156.9470,436,NaN,NaN,Kalawao,1.0,0.0,NaN,229.358,0.0000

In [14]:
# Drop rows with null values
df = df.dropna(subset=['vax_pct'])
df = df.dropna(subset=['cases'])
df

,fips,st,lat,lng,population,unemployment_rate_2021,median_household_income_2020,county,cases,deaths,vax_pct,cases_100000,deaths_100000
1,1001,AL,32.5349,-86.6427,55639,2.8,67565.0,Autauga,18233.0,226.0,45.1,32770.2,406.1900
2,1003,AL,30.7276,-87.7226,218289,3.0,71135.0,Baldwin,65088.0,702.0,52.2,29817.4,321.5920
3,1005,AL,31.8696,-85.3932,25026,5.7,38866.0,Barbour,6826.0,101.0,46.7,27275.6,403.5800
4,1007,AL,32.9986,-87.1265,22374,3.5,50907.0,Bibb,7450.0,107.0,35.8,33297.6,478.2340
5,1009,AL,33.9809,-86.5674,57755,2.4,55203.0,Blount,16673.0,254.0,32.4,28868.5,439.7890
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,WY,41.6595,-108.8800,43352,5.6,70583.0,Sweetwater,12117.0,130.0,51.4,27950.3,299.8710
3138,56039,WY,43.9347,-110.5900,23356,3.2,92488.0,Teton,11583.0,16.0,94.2,49593.3,68.5049
3139,56041,WY,41.2876,-110.5480,20374,5.0,71246.0,Uinta,6102.0,41.0,52.7,29949.9,201.2370
3140,56043,WY,43.9050,-107.6830,7933,4.0,58532.0,Washakie,2642.0,47.0,44.8,33303.9,592.4620
3141,56045,WY,43.8405,-104.5680,6942,3.2,58901.0,Weston,1812.0,21.0,38.6,26102.0,302.5060

In [17]:
# Creating median split codes for cases, deaths, vax https://www.appsloveworld.com/pandas/100/383/performing-a-median-split-on-a-pandas-dataframe
df["median_split_cases"] = (df.cases_100000<df.cases_100000.quantile()).replace({True:0, False:1})
df["median_split_deaths"] = (df.deaths_100000<df.deaths_100000.quantile()).replace({True:0, False:1})
df["median_split_vax_pct"] = (df.vax_pct<df.vax_pct.quantile()).replace({True:0, False:1})
df

,fips,st,lat,lng,population,unemployment_rate_2021,median_household_income_2020,county,cases,deaths,vax_pct,cases_100000,deaths_100000,median_split_cases,median_split_deaths,median_split_vax_pct
1,1001,AL,32.5349,-86.6427,55639,2.8,67565.0,Autauga,18233.0,226.0,45.1,32770.2,406.1900,1,1,0
2,1003,AL,30.7276,-87.7226,218289,3.0,71135.0,Baldwin,65088.0,702.0,52.2,29817.4,321.5920,1,0,1
3,1005,AL,31.8696,-85.3932,25026,5.7,38866.0,Barbour,6826.0,101.0,46.7,27275.6,403.5800,0,1,0
4,1007,AL,32.9986,-87.1265,22374,3.5,50907.0,Bibb,7450.0,107.0,35.8,33297.6,478.2340,1,1,0
5,1009,AL,33.9809,-86.5674,57755,2.4,55203.0,Blount,16673.0,254.0,32.4,28868.5,439.7890,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3137,56037,WY,41.6595,-108.8800,43352,5.6,70583.0,Sweetwater,12117.0,130.0,51.4,27950.3,299.8710,0,0,1
3138,56039,WY,43.9347,-110.5900,23356,3.2,92488.0,Teton,11583.0,16.0,94.2,49593.3,68.5049,1,0,1
3139,56041,WY,41.2876,-110.5480,20374,5.0,71246.0,Uinta,6102.0,41.0,52.7,29949.9,201.2370,1,0,1
3140,56043,WY,43.9050,-107.6830,7933,4.0,58532.0,Washakie,2642.0,47.0,44.8,33303.9,592.4620,1,1,0
3141,56045,WY,43.8405,-104.5680,6942,3.2,58901.0,Weston,1812.0,21.0,38.6,26102.0,302.5060,0,0,0

In [51]:
### Logistic regression to predict case rate
# Seaparate features from the target

y_cases = df["median_split_cases"]
X_econ = df[["unemployment_rate_2021", "median_household_income_2020"]]

In [54]:
X_econ_train, X_econ_test, y_cases_train, y_cases_test = train_test_split(X_econ, y_cases, random_state=42)
X_econ_train.shape

(2337, 2)

In [55]:
import sklearn as skl
# Create scaler instance
X_econ_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_econ_scaler.fit(X_econ_train)

# Scale the data
X_econ_train_scaled = X_econ_scaler.transform(X_econ_train)
X_econ_test_scaled = X_econ_scaler.transform(X_econ_test)

C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

In [56]:
# Create logistic regression model

from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(max_iter=200)

In [57]:
# Fit model with training data
classifier.fit(X_econ_train_scaled, y_cases_train)

LogisticRegression(max_iter=200)

In [58]:
# Create predicitions with test set
y_cases_pred = classifier.predict(X_econ_test_scaled)

# View as dataframe
cases_results = pd.DataFrame({"Y_Cases_Prediction": y_cases_pred, "Actual (y-test)": y_cases_test}).reset_index(drop=True)
cases_results.head(5)

   Y_Cases_Prediction  Actual (y-test)
0                   1                1
1                   0                1
2                   0                0
3                   0                1
4                   1                1

In [59]:
# Get accuracy score

from sklearn.metrics import accuracy_score
print("Accuracy score predicting case rate")
print(accuracy_score(y_cases_test, y_cases_pred))

Accuracy score predicting case rate
0.5558408215661104

In [60]:
# Get confusion matrix
from sklearn.metrics import confusion_matrix, classification_report
cases_matrix = confusion_matrix(y_cases_test, y_cases_pred)

# Create a DataFrame from the confusion matrix.
matrix_cases_df = pd.DataFrame(cases_matrix, 
                         index=["Actual 0-low_cases", "Actual 1-high_cases"], 
                         columns=["Predicted 0-low_cases", "Predicted 1-high_cases"])

matrix_cases_df

                     Predicted 0-low_cases  Predicted 1-high_cases
Actual 0-low_cases                     211                     172
Actual 1-high_cases                    174                     222

In [61]:
# Classification report 
cases_report = classification_report(y_cases_test, y_cases_pred)
print(cases_report)

              precision    recall  f1-score   support

           0       0.55      0.55      0.55       383
           1       0.56      0.56      0.56       396

    accuracy                           0.56       779
   macro avg       0.56      0.56      0.56       779
weighted avg       0.56      0.56      0.56       779

In [87]:
import plotly.express as px  # for data visualization
import plotly.graph_objects as go # for data visualization

In [92]:
# Creating 3D scatterplot of predicting case rate
# Create a 3D scatter plot with predictions
fig = px.scatter_3d(x=X_econ_test_scaled['unemployment_rate_2021'], y=X_econ_test_scaled['median_household_income_2020'], z=y_cases_test, 
                 opacity=0.8, color_discrete_sequence=['black'],
                 labels=dict(x="Unemployment Rate", 
                             y="Median Income",
                             z="Median Split for Case Rate",))

fig.show()

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [ ]:
# Add prediction plane
fig.add_traces(go.Surface(x=xrange, y=yrange, z=pred_cases, name='Case Rate Prediction',
                          colorscale=px.colors.sequential.Sunsetdark))

fig.add_traces(go.Scatter3d(x=X_test['rating_difference'][mask_1], y=X_test['turns'][mask_1], z=probs[:,1][mask_1], 
                            name='White won', showlegend=False, mode = 'markers', opacity=0.9, marker=dict(color='limegreen', size=3)))
fig.add_traces(go.Scatter3d(x=X_test['rating_difference'][mask_0], y=X_test['turns'][mask_0], z=probs[:,1][mask_0], 
                            name='White did not win', showlegend=False, mode = 'markers', opacity=0.9, marker=dict(color='blue', size=3)))

In [62]:
### Logistic regression to predict death rate
# Seaparate features from the target

y_deaths = df["median_split_deaths"]
X_econ = df[["unemployment_rate_2021", "median_household_income_2020"]]

In [63]:
X_econ_train, X_econ_test, y_deaths_train, y_deaths_test = train_test_split(X_econ, y_deaths, random_state=42)
X_econ_train.shape

(2337, 2)

In [64]:
# Create scaler instance
X_econ_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_econ_scaler.fit(X_econ_train)

# Scale the data
X_econ_train_scaled = X_econ_scaler.transform(X_econ_train)
X_econ_test_scaled = X_econ_scaler.transform(X_econ_test)

C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

In [65]:
# Fit model with training data
classifier.fit(X_econ_train_scaled, y_deaths_train)

LogisticRegression(max_iter=200)

In [66]:
# Create predicitions with test set
y_deaths_pred = classifier.predict(X_econ_test_scaled)

# View as dataframe
cases_results = pd.DataFrame({"Y_Deaths_Prediction": y_deaths_pred, "Actual (y-test)": y_deaths_test}).reset_index(drop=True)
cases_results.head(5)

   Y_Deaths_Prediction  Actual (y-test)
0                    0                0
1                    0                0
2                    0                0
3                    0                1
4                    1                1

In [67]:
# Get accuracy score

print("Accuracy score predicting death rate")
print(accuracy_score(y_deaths_test, y_deaths_pred))

Accuracy score predicting death rate
0.7329910141206675

In [68]:
# Get confusion matrix

deaths_matrix = confusion_matrix(y_deaths_test, y_deaths_pred)

# Create a DataFrame from the confusion matrix.
matrix_deaths_df = pd.DataFrame(deaths_matrix, 
                         index=["Actual 0-low_deaths", "Actual 1-high_deaths"], 
                         columns=["Predicted 0-low_deaths", "Predicted 1-high_deaths"])

matrix_deaths_df

                      Predicted 0-low_deaths  Predicted 1-high_deaths
Actual 0-low_deaths                      270                      105
Actual 1-high_deaths                     103                      301

In [69]:
# Classification report 
deaths_report = classification_report(y_deaths_test, y_deaths_pred)
print(deaths_report)

              precision    recall  f1-score   support

           0       0.72      0.72      0.72       375
           1       0.74      0.75      0.74       404

    accuracy                           0.73       779
   macro avg       0.73      0.73      0.73       779
weighted avg       0.73      0.73      0.73       779

In [78]:
### Logistic regression to predict vax pct
# Seaparate features from the target

y_vax = df["median_split_vax_pct"]
X_econ = df[["unemployment_rate_2021", "median_household_income_2020"]]

In [79]:
X_econ_train, X_econ_test, y_vax_train, y_vax_test = train_test_split(X_econ, y_vax, random_state=42)
X_econ_train.shape

(2337, 2)

In [80]:
# Create scaler instance
X_econ_scaler = skl.preprocessing.StandardScaler()

# Fit the scaler
X_econ_scaler.fit(X_econ_train)

# Scale the data
X_econ_train_scaled = X_econ_scaler.transform(X_econ_train)
X_econ_test_scaled = X_econ_scaler.transform(X_econ_test)

C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,
C:\Users\josep\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['quoted_name']. An error will be raised in 1.2.
  FutureWarning,

In [81]:
# Fit model with training data
classifier.fit(X_econ_train_scaled, y_vax_train)

LogisticRegression(max_iter=200)

In [82]:
# Create predicitions with test set
y_vax_pred = classifier.predict(X_econ_test_scaled)

# View as dataframe
vax_results = pd.DataFrame({"Y_Vax_Prediction": y_vax_pred, "Actual (y-test)": y_vax_test}).reset_index(drop=True)
vax_results.head(5)

   Y_Vax_Prediction  Actual (y-test)
0                 1                1
1                 1                1
2                 0                1
3                 0                1
4                 0                0

In [83]:
# Get accuracy score

print("Accuracy score predicting vax pct")
print(accuracy_score(y_vax_test, y_vax_pred))

Accuracy score predicting vax pct
0.6469833119383825

In [84]:
# Get confusion matrix

vax_matrix = confusion_matrix(y_vax_test, y_vax_pred)

# Create a DataFrame from the confusion matrix.
matrix_vax_df = pd.DataFrame(vax_matrix, 
                         index=["Actual 0-low_vax", "Actual 1-high_vax"], 
                         columns=["Predicted 0-low_vax", "Predicted 1-high_vax"])

matrix_vax_df

                   Predicted 0-low_vax  Predicted 1-high_vax
Actual 0-low_vax                   271                   117
Actual 1-high_vax                  158                   233

In [85]:
# Classification report 
vax_report = classification_report(y_vax_test, y_vax_pred)
print(vax_report)

              precision    recall  f1-score   support

           0       0.63      0.70      0.66       388
           1       0.67      0.60      0.63       391

    accuracy                           0.65       779
   macro avg       0.65      0.65      0.65       779
weighted avg       0.65      0.65      0.65       779

In [93]:
df.to_csv("all_data_merged_med_split.csv", index=False)